h1 {
  color: #528697;
  opacity: 0.9;
  padding-top: 50px;
}

.container {
  display: block;
  margin: 150px auto;
  width: 500px;
  min-width: 200px;
  height: 100%;
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgb(174, 174, 192, 0.5),
    -10px -10px 30px rgba(255, 255, 255);
}

p {
  margin: 0px;
}
